.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 100px;
  z-index: 2000;
  position: relative;
  background: #ffffff;

  .logo {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  .links {
    display: flex;
    align-items: center;

    ul {
      display: flex;
      align-items: center;
      gap: 40px;

      li {
        list-style: none;
        cursor: pointer;
        color: var(--pmu-grey-text);
        font-size: 16px;
        font-weight: 700;
        font-family: "Bariol Bold";
        line-height: 150%;
        text-transform: uppercase;
        letter-spacing: -1%;

        a {
          text-decoration: none;
          font-size: 16px;
          font-family: "Bariol Bold";
          color: var(--pmu-grey-text);
          font-weight: 700;
          line-height: 150%;
          text-transform: uppercase;
          letter-spacing: -1%;

          &:hover {
            color: var(--color-blue-dark);
          }
        }
      }
    }
  }

  .buttons {
    display: flex;
    align-items: center;
    padding-right: 20px;
    gap: 20px;

    .download-app {
      background-color: #b817b6;
      border: 1px solid var(--pmu-primary);
      color: white;
      font-family: "Bariol Bold";
      line-height: 160%;
      padding: 10px 20px;
      cursor: pointer;
      font-size: 14px;
      font-weight: 700px;

      &:hover {
        background-color: darken($color: #fff, $amount: 10%);
      }
    }
  }

  .hamburger-menu {
    display: none;
    font-size: 24px;
    cursor: pointer;
  }

  @media screen and (max-width: 768px) {
    padding: 10px 15px;

    .logo {
      padding-left: 0;
    }

    .links {
      display: none;
      position: absolute;
      top: 60px;
      left: 0;
      width: 100%;
      background: #fff;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      padding: 20px 0;
      z-index: 1000;

      ul {
        flex-direction: column;
        align-items: center;
        gap: 20px;

        li a {
          font-size: 16px;
        }
      }
    }

    .links.visible {
      display: flex;
      flex-direction: column;
    }

    .buttons {
      display: none;
    }

    .hamburger-menu {
      display: block;
    }
  }
}
